<body>
  <h2 class="ui">PRODUCTS</h2>
  <div class="container">
    <div class="products1-card">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>Fog Scent Xpressio Perfume</mat-card-title>
          <mat-card-subtitle>Perfume</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/13/1.jpg"
        />
        <mat-card-content>
          <p>
            Product details of Best Fog Scent Xpressio Perfume 100ml For Men
            cool long lasting perfumes for Men
          </p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="products2-card">
      <mat-card class="product1-card">
        <mat-card-header>
          <mat-card-title>OPPOF19</mat-card-title>
          <mat-card-subtitle>Smartphones</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/4/1.jpg"
        />
        <mat-card-content>
          <p>OPPO F19 is officially announced on April</p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="products3-card">
      <mat-card class="product2-card">
        <mat-card-header>
          <mat-card-title>Iphone</mat-card-title>
          <mat-card-subtitle>Smartphones</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/1/1.jpg"
        />
        <mat-card-content>
          <p>An apple mobile which is nothing like apple</p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="products3-card">
      <mat-card class="product2-card">
        <mat-card-header>
          <mat-card-title>Apple</mat-card-title>
          <mat-card-subtitle>Laptop</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/6/1.png"
        />
        <mat-card-content>
          <p>An apple laptop which is nothing like apple</p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</body>
